<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>51reboot</title>

	<link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>
	<div id="main" style="height:400px"></div>
	<script src='/static/jquery.min.js'></script>
	<script src='/static/echarts-all.js'></script>
	<script>	
// 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('main'));
        $.getJSON('/chartlinedata', function(res) {

        	var option = {
        		title: {
        			text: '日志访问量',
        			subtext: ''
        		},
        		tooltip: {
        			trigger: 'item',
        			formatter: function(params) {
        				var date = new Date(params.value[0]);
        				data = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();
        				return data + '<br/>' + '访问量' + params.value[1]
        			}
        		},
                            toolbox: {
                                show : true,
                                feature : {
                                    mark : {show: true},
                                    dataView : {readOnly:false},
                                    magicType : {show: true, type: ['line', 'bar']},
                                    restore : {show: true},
                                    saveAsImage : {show: true}
                                }
                            },
        		dataZoom: {
        			show: true,
        			start: 70
        		},
        		legend: {
        			data: ['200', '404']
        		},
        		grid: {
        			y2: 80
        		},
        		xAxis: [{
        			type: 'time',
        			splitNumber: 10
        		}],
        		yAxis: [{
        			type: 'value'
        		}],
        		series: [{
        			name: '200',
        			type: 'line',
        			showAllSymbol: true,
        			// symbolSize: function (value){
        			//     return  2;
        			// },
        			data: res[200]
        		}, {
        			name: '404',
        			type: 'line',
        			showAllSymbol: true,
        			// symbolSize: function (value){
        			//     return  2;
        			// },
        			data: res[304]
        		}]
        	};



        	myChart.setOption(option);
        })

	</script>
</body>
</html>