<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>51reboot</title>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/static/datatable.css"> -->
	<link rel="stylesheet" href="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" href="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/bower_components/datatables-responsive/css/dataTables.responsive.css">
	<style>	
		.wd100{
			width: 400px;
			word-break:break-all; 
			word-wrap:break-word;
		}
		table{
			/*table-layout: fixed !important; */
		}
		#test{
			width: 1000px;
			margin: 20px auto;
		}
	</style>
</head>
<body>
<div id='test' class='dataTable_wrapper'>

{% if data %}
<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>IP</th>
            <th>URL</th>
            <th >http状态</th>
			<th>次数</th>
        </tr>
    </thead>
    <tbody>
		{% for d in data %}
		<tr>
			<td>{{d[0]}}</td>
			<td class='wd100'>{{d[1]}}</td>
			<td>{{d[2]}}</td>
			<td>{{d[3]}}</td>
		</tr>
		{% endfor %}
    </tbody>
</table>
{% endif %}
</div>
<script src='/static/jquery.min.js'>	</script>
<script src='/static/datatable.js'>	</script>
<script>	
    $(function() {
        var oLanguage = {
            "oAria": {
                "sSortAscending": ": 升序排列",
                "sSortDescending": ": 降序排列"
            },
            "oPaginate": {
                "sFirst": "首页",
                "sLast": "末页",
                "sNext": "下页",
                "sPrevious": "上页"
            },
            "sEmptyTable": "没有相关记录",
            "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
            "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
            "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
            "sInfoPostFix": "",
            "sDecimal": "",
            "sThousands": ",",
            "sLengthMenu": "每页显示条数: _MENU_",
            "sLoadingRecords": "正在载入...",
            "sProcessing": "正在载入...",
            "sSearch": "搜索:",
            "sSearchPlaceholder": "",
            "sUrl": "",
            "sZeroRecords": "没有相关记录"
        }
        $.fn.dataTable.defaults.oLanguage = oLanguage;
        $('#dataTables-example').DataTable({
            responsive: true,
            // iDisplayLength:3
        });
    });
</script>
</body>
</html>