<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>51reboot</title>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<style>	
		#content{
			margin-top: 40px;

		}
		#content .panel{
			height: 150px;
		}
/*		#content a{
			display: inline-block;
			width: 120px;
			height: 120px;

		}*/
	</style>
</head>
<body>
<div class="container" id='content'>
<div class="row">
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别1--table
            </div>
            <div class="panel-body">
                <p>拼接字符串，直接展现数据,单纯的在web展示数据</p>
                <p><a href="/table">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别2--datatable
            </div>
            <div class="panel-body">
                <p>加上前端js和css优化，分页，搜索，排序和设置每页显示数量</p>
                <p><a href="/datatable">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别3--饼图
            </div>
            <div class="panel-body">
                <p>根据http状态展示饼图，汇总信息更友好，注意还可以拖拽重新计算哦</p>
                <p><a href="/chart">访问</a></p>
            </div>
        </div>

	</div>
</div>
<div class="row">
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别4--访问量
            </div>
            <div class="panel-body">
                <p>时间维度的访问量，由于日志数据只有一天，所以精确到秒展示，注意还可以切换图表类型哦</p>
                <p><a href="/chartline">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别5--区域
            </div>
            <div class="panel-body">
                <p>根据ip更友好和直观地显示数据，注意可以关闭某个状态的数据哦</p>
                <p><a href="/map_region">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别6--更进一步
            </div>
            <div class="panel-body">
                <p>展示区域的基础上，把value也带上，注意可以根据value过滤数据哦，还可以统计前五名高亮显示</p>
                <p><a href="/map_value">访问</a></p>
            </div>

        </div>

	</div>
</div>
<div class="row">
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                级别7--访问路径图
            </div>
            <div class="panel-body">
                <p>不仅有访问数量，我们造了主机host的假数据，可以清晰的看到各个机房的访问统计结果，也可以根据value过滤</p>
                <p><a href="/map_line">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                后续工作和展望
            </div>
            <div class="panel-body">
                <p>上面的可视化都是我自己总结出来的，运维方面的数据展示肯定不止日志可视化，日志可视化也肯定不只有上面这些</p>
                <p><a href="/next">访问</a></p>
            </div>

        </div>

	</div>
	<div class="col-md-4">

		<div class="panel panel-success">
            <div class="panel-heading">
                代码说明
            </div>
            <div class="panel-body">
                <p>代码都放在github上了，单文件和拆分模块的版本都有</p>
                <p><a href="/code">访问</a></p>
            </div>

        </div>

	</div>
</div>




</div>

</body>

</html>

