#container .slide{
/*    display: block;
    position: absolute;
    content: '我我';
    top: 0;
    left: 0;
    z-index: 2000;*/
    background-image:url('../reboot.png');
    background-repeat: no-repeat;
    background-size:100px;
}